<!DOCTYPE HTML>
<html>
<head>
	<title>Test area</title>
	<link rel="stylesheet" href="stylesheet.css">
	<link rel="stylesheet" href="jquery-ui.css">
</head>
<body data-ng-app="eulerProblems" data-ng-controller="problemController">
	<div id="global_controls">
		<span id="total_time" data-ng-cloak>{{ problemsElapsed }}ms ({{ problemsDone }}/{{ problems.length }})</span>
		<div id="progressbar"></div>
		<input type="button" id="run_all" value="Run all" data-ng-click="runAll()">
	</div>
	<ul id="problems" data-ng-cloak>
		<li class="problem" data-ng-repeat="problem in problems" data-ng-class="{problem_error: problem.correct !== null && !problem.correct}" data-ng-style="{ background: problem.correct ? 'rgba(0, 255, 0, ' + (.05 + Math.pow(2, .92 + problem.elapsed/1000)-1.8) + ')' : '' }">
			<span id="problem_control"><input type="button" value="Run" data-ng-click="runProblem(problem)"></span>
			Problem {{ problem.number }}:
			<span id="error" data-ng-hide="problem.error===null">
				<br>
				&#x2717; {{ problem.error.toString() }}
			</span>
			<span id="answer" data-ng-hide="problem.result===null">
				<br>
				{{ problem.result.result == problem.result.expected ? '&#x2713;' : '&#x2717;' }}
				Result: {{ problem.result.result }};
				Expected: {{ problem.result.expected }}; 
				Elapsed: {{ problem.elapsed / 1000 }}s
			</span>
		</li>
	</ul>
	
	<div><a href="tile.html">Tile game test</a></div>
	<div><a href="dom_manip.html">Dom manipulation test</a></div>
	<div><a href="astar.html">A*</a></div>
	

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="euler/presentation.js"></script>
	<script src="heap.js"></script>
	<script src="BigInt.js"></script>
	<script src="jquery-2.1.1.min.js"></script>
	<script src="euler/functions.js"></script>
	<script src="jquery-ui-1.10.4.min.js"></script>
</body>
</html>
